[user]
	name = 0x4d
	email = 0x4d@undefined
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/adam/.gitignore_global
	editor = code
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/adam/.stCommitMsg
[pager]
	branch = false
[push]
	default = current
